.Header {
  display: flex;
  width: 100%;
  height: 60px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-bottom: 4px solid rgb(255, 255, 255);
    &.on {
      font-weight: bold;
      color: rgb(0, 174, 255);
      border-bottom: 4px solid rgb(0, 174, 255);
    }
  }
}
